.page-content {
  width: 1180px;
  font-size: 20px;
  color: #2F4650;
}

.page-content a {
  color: #2F4650;
}

.page-content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content .page-list {
  position: relative;
}

.page-content ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-content ul li > img {
  display: inline-block;
  vertical-align: center;
}

.page-content ul :first-child > img {
  margin-right: 10px;
}

.page-content ul :last-child > img {
  margin-left: 10px;
}

.page-content .list_upper::before {
  position: absolute;
  content: '';
  background: #96A8B2;
  height: 1px;
  display: block;
  left: 0;
  right: 0;
  top: -10.5px;
}

.page-content .list_down {
  margin-top: 700px;
}

.page-content .list_down::after {
  position: absolute;
  content: '';
  background: #96A8B2;
  height: 1px;
  display: block;
  left: 0;
  right: 0;
  bottom: -10.5px;
}

.page-content .content-illust {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-content .content-illust > img {
  position: absolute;
}

.page-content h3 {
  position: relative;
  font-size: 50px;
  font-weight: bold;
}

.page-content .title_sec {
  position: relative;
  top: 568px;
  left: -62px;
  letter-spacing: 3.35rem;
  z-index: 10;
}

.page-content .tako {
  top: -30px;
  width: 120px;
  right: 253px;
  -webkit-transform: rotate(14deg);
  transform: rotate(14deg);
}

.page-content .matsu {
  top: 4px;
  left: 510px;
  width: 170px;
}

.page-content .kamome {
  top: 95px;
  width: 100px;
  left: 404px;
}

.page-content .owashi {
  top: 85px;
  width: 258px;
  right: 288px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.page-content .kokugan {
  top: 386px;
  width: 106px;
  right: 493px;
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.page-content .ginzake {
  top: 210px;
  width: 325px;
  left: 240px;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}

.page-content .img_sec {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 13px;
  left: 128px;
  opacity: 0.7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
