body {
  background-color: #EDEDED;
}

h2, h3, h4, p {
  color: #2F4650;
}

.daiary_container {
  max-width: 1180px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 90px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
}

.daiary_container .daiary_main_title {
  position: relative;
  margin-top: 60px;
  font-family: Times New Roman;
  color: #2F4650;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  margin-bottom: 0px;
}

.daiary_container .daiary_main_title::before, .daiary_container .daiary_main_title::after {
  position: absolute;
  content: '';
  border-bottom: double;
  display: block;
  left: 0;
  right: 0;
}

.daiary_container .daiary_main_title::after {
  bottom: -35px;
}

.daiary_container .daiary_main_title::before {
  top: 8px;
}

.daiary_container .times-subtitle {
  text-align: center;
  font-size: 16px;
  font-family: Times New Roman;
}

.daiary_container ::after {
  display: none;
}

.daiary_container .upper_heading, .daiary_container .boshu_head {
  color: #2F4650;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}

.daiary_container .upper_heading::after, .daiary_container .boshu_head::after {
  content: '';
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  background: #96A8B2;
  display: block;
  margin-left: 5px;
}

.daiary_container .boshu_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.daiary_container .boshu {
  position: relative;
  top: 440px;
}

.daiary_container .boshu::before {
  content: '';
  position: absolute;
  height: 373px;
}

.daiary_container .boshu::after {
  content: '';
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  background: #96A8B2;
  display: block;
  margin-top: 22px;
}

.daiary_container .boshu .boshu_head {
  margin-bottom: 22px;
  width: 1180px;
}

.daiary_container .boshu .boshu_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 807px;
  margin: auto;
}

.daiary_container .boshu .daiary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 135px;
  max-height: 160px;
}

.daiary_container .boshu .boshu_date time {
  position: relative;
  color: #96A8B2;
  font-size: 11px;
  vertical-align: top;
  height: 10px;
}

.daiary_container .boshu img {
  height: 93px;
  width: 135px;
}

.daiary_container .boshu .boshu_title {
  margin-top: -10px;
}

.daiary_container .boshu .boshu_title > h1 {
  display: inline-block;
  line-height: 1.2;
  font-size: 14px;
}

.daiary_container .boshu .boshu_title::after {
  content: '';
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  background: #96A8B2;
  display: block;
  right: 0;
}

.daiary_container .daiary-content {
  margin-top: -180px;
}

.daiary_container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.daiary_container .daiary {
  overflow: hidden;
}

.daiary_container a, .daiary_container p, .daiary_container span {
  color: #2F4650;
  font-size: 16px;
}

.daiary_container img {
  -o-object-fit: cover;
  object-fit: cover;
}

.daiary_container .upper_heading {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.daiary_container .upper_heading::after {
  content: '';
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  background: #96A8B2;
  display: block;
  right: 0;
}

.daiary_container .daiary_title a {
  font-size: 25px;
}

.daiary_container .daiary_date {
  height: 35px;
}

.daiary_container .daiary_date time {
  position: relative;
  padding-left: 45px;
  color: #96A8B2;
  font-size: 11px;
  vertical-align: top;
}

.daiary_container .daiary_date::before {
  content: "";
  height: 35px;
  width: 35px;
  position: absolute;
  left: auto;
}

.daiary_container .cat-8 .daiary_date::before {
  background-color: #B3C551;
}

.daiary_container .cat-9 .daiary_date::before {
  background-color: #6AC2EF;
}

.daiary_container .cat-10 .daiary_date::before {
  background-color: #F4DE00;
}

.daiary_container .daiary_content {
  line-height: 1.68;
}

.daiary_container .daiary_content::before {
  content: '';
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 1px;
  display: block;
  margin-bottom: .5em;
}

.daiary_container .cat-8 .daiary_content::before {
  background-color: #CB3A48;
}

.daiary_container .cat-9 .daiary_content::before {
  background-color: #F4DE00;
}

.daiary_container .cat-10 .daiary_content::before {
  background-color: #6AC2EF;
}

.daiary_container .sub_thumbnail {
  -o-object-fit: scale-down;
  object-fit: scale-down;
  border: solid 0.2px #96A8B2;
}

.daiary_container .group-1 {
  position: relative;
  top: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 250px;
  height: 363px;
}

.daiary_container .group-1 .daiary {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 363px;
}

.daiary_container .group-1 .daiary_content {
  width: 288px;
}

.daiary_container .group-1 img {
  width: 278px;
  height: 363px;
  margin-left: 15px;
}

.daiary_container .group-1 > div:first-child {
  padding-right: 5px;
}

.daiary_container .flex-group {
  width: 585px;
  border-right: solid 0.5px gray;
}

.daiary_container .group-3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 585px;
}

.daiary_container .group-3 .post-thumbnail,
.daiary_container .group-3 img {
  width: 181px;
  height: 124px;
}

.daiary_container .group-3 .flex {
  width: 576px;
}

.daiary_container .group-3 .daiary {
  height: 125px;
  margin-bottom: 36px;
  margin-right: 9px;
  width: 387px;
}

.daiary_container .group-3 .daiary_date {
  display: block;
  float: left;
  height: auto;
}

.daiary_container .group-3 time {
  top: -3px;
}

.daiary_container .group-3 .daiary_date::before {
  height: 33px;
  width: 33px;
}

.daiary_container .group-3 .daiary_title {
  float: left;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: -33px;
  margin-left: 45px;
}

.daiary_container .group-3 .daiary_title a {
  font-size: 19px;
}

.daiary_container .group-3 .daiary_content {
  clear: both;
}

.daiary_container .group-3 div:last-child {
  margin-bottom: 0px;
}

.daiary_container .group-8 {
  margin-left: 18px;
  margin-right: 9px;
  margin-top: -55px;
}

.daiary_container .group-8 .flex {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  width: 191px;
}

.daiary_container .group-8 .post-thumbnail {
  height: 449px;
  width: 191px;
}

.daiary_container .group-8 img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.daiary_container .group-8 .daiary_date {
  position: relative;
  margin-top: 5px;
}

.daiary_container .group-8 .daiary_date::before {
  display: none;
}

.daiary_container .group-8 .daiary_date time {
  padding-left: 22px;
}

.daiary_container .group-8 .daiary_title {
  position: relative;
  margin-top: -40px;
  margin-left: 22px;
  line-height: 0.9rem;
}

.daiary_container .group-8 .daiary_title a {
  font-size: 19px;
}

.daiary_container .group-8 .daiary_title ::before {
  content: "";
  height: 100%;
  width: 10px;
  margin-top: 3px;
  position: absolute;
  left: -22px;
}

.daiary_container .group-8 .cat-8 .daiary_title ::before {
  background-color: #CB3A48;
}

.daiary_container .group-8 .cat-9 .daiary_title ::before {
  background-color: #F4DE00;
}

.daiary_container .group-8 .cat-10 .daiary_title ::before {
  background-color: #6AC2EF;
}

.daiary_container .group-8 .daiary_content {
  height: 244px;
  overflow: hidden;
}

.daiary_container .group-9 {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 378px;
  border-left: solid 0.3px #96A8B2;
}

.daiary_container .group-9 .flex {
  width: 365px;
  margin-left: 9px;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.daiary_container .group-9 .daiary {
  width: 365px;
  margin-bottom: 30px;
  margin-left: -9px;
}

.daiary_container .group-9 .post-thumbnail {
  height: 231px;
  width: 365px;
}

.daiary_container .group-9 img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.daiary_container .group-9 .daiary_date {
  margin-top: 10px;
}

.daiary_container .group-9 .daiary_date::before {
  height: 40px;
  width: 40px;
}

.daiary_container .group-9 .daiary_title {
  float: left;
  display: inline-block;
  margin-bottom: 0px;
  margin-top: -40px;
  margin-left: 55px;
}

.daiary_container .group-9 .daiary_title a {
  font-size: 23px;
}

.daiary_container .group-9 .daiary_content {
  display: none;
  margin-top: 3px;
}

.daiary_container .group-9 time {
  top: -6px;
}

.daiary_container .group-9 .daiary-icon-single {
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.daiary_container .group-9 .daiary-icon-single > img {
  width: auto;
  height: auto;
  margin-bottom: 0px;
}

.daiary_container .group-9 .daiary-icon-single p {
  margin-left: 5.2px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 24px;
}
