$gray:#96A8B2;
$navi:#2F4650;
$color-kurashi:#F4DE00;
$color-umi:#6AC2EF;
$color-yama:#B3C551;
$color-boshu:#CB3A48;
body{
	background-color:#EDEDED;
}

h2,h3,h4,p{
	color:$navi;
}
.diary_container{
	max-width:1180px;
	box-sizing:border-box;
	border:solid 90px white;
	display:flex;
	align-items:center;
	flex-direction:column;
	background-color:white;
	.diary_main_title{ 
		position:relative;
		margin-top:60px;
		font-family:Times New Roman;
		color:$navi;
		font-weight:bold;
		font-size:80px;
		text-align:center;
		margin-bottom:0px;
		&::before,
		&::after{
			position:absolute;
			content:'';
			border-bottom:double ;
			display:block;
			left:0;
			right:0;
		}
		 &::after{
			bottom:-35px;		
		 }
		 &::before{
		 	top:8px;
		 }
		
	}
	.times-subtitle{
		text-align:center;
		font-size:16px;
		font-family:Times New Roman;	
	}
	::after{
		display:none;
	}
	
	.upper_heading,.boshu_head{
		color:$navi;
		font-size:16px;
		display:flex;
		align-items:center;
		font-weight:bold;
		&::after{
		content: '';
		flex-grow:1;
		height: 1px;
		background: $gray;
		display:block;
		margin-left:5px;
		}	
	}
	.boshu_flex{
		display:flex;
		flex-direction:column;
		align-items:center;
	}	
	
.boshu{
	position:relative;
	top:440px;
		&::before{
		content:'';
		position:absolute;
		height:373px;	
	}
	&::after{
		content: '';
		width:100%;
		flex-grow:1;
		height: 1px;
		background: $gray;
		display:block;
		margin-top:22px;
	}
	.boshu_head{
		margin-bottom:22px;
		width:1180px;
	}
	.boshu_content{
	display:flex;
	justify-content:space-around;
	width:807px;
	margin:auto;
	}
	.diary{
		flex-direction:column;
		max-width:135px;
		max-height:160px;
	}
	.boshu_date time{
		position:relative;
		color:$gray;
		font-size:11px;
		vertical-align:top;
		height:10px;
		}
	img{
		height:93px;
		width:135px;
	}
	.boshu_title{
		margin-top:-10px;
		>h1{
			display:inline-block;
			line-height:1.2;
			font-size:14px;
			}
	&::after{
		content: '';
		flex-grow:1;
		height: 1px;
		background: $gray;
		display:block;
		right:0;
			}
		}
	}

	.diary-content{
		margin-top:-180px;
	}
	.flex{
		display:flex;
	}

	.diary{
		overflow:hidden;
	}
	
	a,p,span{
		color:#2F4650;
		font-size:16px;
	}
	img{
	object-fit:cover;
	}
	.upper_heading{

		align-items:center;
	}
	.upper_heading::after{
		content: '';
		flex-grow:1;
		height: 1px;
		background: $gray;
		display:block;
		right:0;
	}
	.diary_title a{
		font-size:25px;
	}

	.diary_date{
		height:35px;
	}
	.diary_date time{
		position:relative;
		padding-left:45px;
		color:#96A8B2;
		font-size:11px;
		vertical-align:top;
		
	}
	.diary_date::before{
		content: "";
		height:35px;
		width:35px;
		position:absolute;
		left:auto;
	}
	.cat-8 .diary_date::before{
		background-color:$color-yama;

		}
	.cat-9 .diary_date::before{
		background-color:$color-umi;
		}
	.cat-10 .diary_date::before{
		background-color:$color-kurashi;
		}
	.diary_content{
		line-height:1.68;
	}

	.diary_content::before {
	  content: '';
	  flex-grow: 1;
	  height: 1px;
	  display: block;
	  margin-bottom: .5em;
	}

	.cat-8 .diary_content::before {
	  background-color: $color-boshu;
	}

	.cat-9 .diary_content::before {
	  background-color: $color-kurashi;
	}

	.cat-10 .diary_content::before {
	  background-color: $color-umi;
	}

	.sub_thumbnail{
		object-fit:scale-down;
		border:solid 0.2px $gray;
	}

	.group-1{
		position:relative;
		top:0px;
		align-items:center;
		margin-bottom:250px;
		height:363px;

		.diary{
			align-items:center;
			height:363px;
			}
		.diary_content{
			width:288px;
		}

		
		img{
			width:278px;
			height:363px;
			margin-left:15px;
		}

		>div:first-child{
			padding-right:5px;
			}
			
		// >div:last-child{
		// 	padding-left:5px;
		// }
			
	}

	.flex-group{
		width:585px;
		border-right:solid 0.5px gray;
		
	}

	.group-3{
		flex-direction:column;
		width:585px;
		
		
		.post-thumbnail,
		& img{
			width:181px;
			height:124px;
			}
		.flex{
			width:576px;
		}
		.diary{
			height:125px;
			margin-bottom:36px;
			margin-right:9px;
			width:387px;
			
		}
		.diary_date{
			display:block;
			float:left;
			height:auto;
		}
		time{
			top:-3px;
		}
		.diary_date::before{
		height:33px;
		width:33px;
		}
		.diary_title
		{
			float:left;
			display:inline-block;
			margin-bottom:0px;
			margin-top:-33px;
			margin-left:45px;
			a{
				font-size:19px;
			}		
		}
		.diary_content{
			clear: both;
		}
		div:last-child{
		margin-bottom:0px;
		}	
	}
	.group-8{
		margin-left:18px;
		margin-right:9px;
		margin-top:-55px;

	.flex{
		flex-wrap:wrap-reverse;
		width:191px;
	}
	.post-thumbnail{
		height:449px;
		width:191px;
	}
	img{
		width:100%;
		height:100%;
		margin-bottom:10px;
	}
	.diary_date{
		position:relative;
		margin-top:5px;
		&::before{
		display:none;
		}
	 time{
		padding-left:22px;
		}
	}


	.diary_title {
		position:relative;
		margin-top:-40px;
		margin-left:22px;
		line-height: 0.9rem;
		a{
			font-size:19px;
		}
		::before{
		content: "";
		height:100%;
		width:10px;
		margin-top:3px;
		position:absolute;
		left:-22px;
		}		
	}

	.cat-8 .diary_title ::before{	
		background-color:$color-boshu;	
	}
	.cat-9 .diary_title ::before{	
		background-color:$color-kurashi;	
	}
	.cat-10 .diary_title ::before{	
		background-color:$color-umi;	
	}
	
	.diary_content{
		height:244px;
		overflow:hidden;
	}
}

	.group-9{
		position:relative;
		flex-direction:column;
		width:378px;
		border-left:solid 0.3px $gray;
		
	.flex{
		width:365px;
		margin-left:9px;
		flex-wrap:wrap-reverse;
		}
		
		.diary{
			width:365px;
			margin-bottom:30px;
			margin-left:-9px;
		}
		.post-thumbnail{
		height:231px;
		width:365px;
	}
	img{
		width:100%;
		height:100%;
		margin-bottom:5px;
	}
	.diary_date{
		margin-top:10px;
		&::before{
		height:40px;
		width:40px;
		}

	}

	.diary_title
		{
			float:left;
			display:inline-block;
			margin-bottom:0px;
			margin-top:-40px;
			margin-left:55px;
			a{
				font-size:23px;
		
			}
		}			
	.diary_content{
		display:none;
		margin-top:3px;
		}
	time{
		top:-6px;
	}

	.diary-icon-single{
		position:absolute;
		bottom:0;
		align-items:center;
		justify-content:flex-end;
		
	   > img{
		width:auto;
		height:auto;
		margin-bottom:0px;
		}
		p{
			margin-left:5.2px;
			margin-bottom:0px;
			font-weight:bold;
			font-size:24px;
		}
	}
}
}



