.page_access_container{
	p{
		font-size:1.25rem;
		text-align:justify;
		line-height:1.7;

	}
	.access_subtitle{
		margin-bottom:50px;
	}
	margin-top:70px;
.main{
	
}


	.title{
			border:none;
				}
		.access_subtitle{
			font-weight:600;
			&::after{
				content:'';
				display:block;
				width:100%;
				height:0.3rem;
				background-color:black;
			}
		}


		.access_middle{
			margin-top:125px;
			.kocha_title{
				margin-left:15px;
			}
			.bd_u{
			&::after{
				content:'';
				display:block;
				width:100%;
				height:1px;
				background-color:#cccccc;
				margin-top:57px;
				margin-bottom:57px;
			}	
			}
			
			}


			.access_kocha,
			.card{
				background-color:transparent;
				text-align:center;
				justify-content:center;
				align-items: center;
				border:none;
				
				img{

					width:11.25rem;
					height:11.2rem;
			}



			.card-body{
				padding:0;
				margin-top:1rem;
				.card-title{
				border-bottom: solid 2px #cccccc;
				font-size:1.2rem;
				font-weight:600;
				padding-bottom:3px;
				margin-bottom:0px;
				
				}
				a{
					font-size:0.8rem;

				}
				
		}
	}

		.car,
		.public{
			margin-top:40px;
			img{
				box-sizing:border-box;
				border:solid 0.5px #cccccc;	
				padding-bottom:0.2px;
			}
		}	
			.public{
				img{
					padding-top:0.5px;
				}
				
		.ac_link{
			margin-top:21px;
			margin-bottom:2px;
			&::after{
					width:100%;
					height:1px;
					background-color:#cccccc;
				}	
			
		}
		.access_li{
			justify-content:start;
		}
		.link-li{
			display:flex;
			justify-content:space-between;
			font-size:1rem;
		}

	
}
.gmap_body{
			height:50vh; 
		}	
.g_map{
	margin-top:70px;
		margin-top:70px;
			&::after{
					width:100%;
				}
					
		}
		#map{
				height:50vh;
				}
}

		.link-to-home{
			margin:70px auto;
			font-weight:600;
			font-size:1.5rem;	
			
			p{
				text-align:center;

			}
		}

		@media screen and (max-width: 480px) {

		p{
			font-size:16px!important;
		}
		h2{
			font-size:1.25rem;
			font-weight:600;	
		
		}
		h5{
			font-size:0.9rem;
		} 
		.link-li{
			li{
				a{
					font-size:0.7rem;					
					
				}
			}

		}
		

	}

