.archive-diary-container{
	p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}

	.article-container{
		margin-top:3%;
		&::after{
	      content: '';
	      display: block;
	      height: 2px;
	      width: 100%;
	      margin-bottom: 3%;
	      background:black;
	}
	.diary_cat{
		font-size:0.8rem;
    	display: inline-block;
    	padding: 0.5% 0.7%;
    	margin: 0.7% 0;
    	color: white;
    	border-radius: 0.05rem;
	}
	.diary_title{
		font-size:1.5rem;
		font-weight:700;
	}
	.diary-date{
		margin-bottom:0;
		font-size:0.8rem;
		
			}
	#wrapper>div{
		position:relative;
		overflow:hidden;
		
		
		&::before{
			content:'';
			display:block;
			padding-top:61.5%;
			
		}
	img{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		width:100%;
		margin:auto;
		

	}
	.diary-thumbnail{
		object-fit:cover;
	}
	}	
	.lower-upper{
		display:flex;
		align-items:center;
		justify-content:space-between;		
		
	}
	.card-text{
		margin:1% 0;
		font-size:1rem;
		&::after{
			content:url('../img/text_aft_1.svg');
			height:10px;
			width:30px;
			
		}
		p{
		margin-bottom: 2em;
    	line-height: 1.7;
    	letter-spacing:0.1rem;
    	text-align:justify;
    	color:#333;
		}
		p>img{
			margin:1% 0;
			width:100%;
			object-fit:cover;
			
			
		}
	}
}

@media screen and (max-width: 480px) {
			margin-top:70px;
		}  

}















