.archive-diary-container{

	p{
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}

	.article-container{
		margin-top:3%;
		&::after{
	      content: '';
	      display: block;
	      height: 2px;
	      width: 100%;
	      margin-bottom: 3%;
	      background:black;
	}
	.diary_cat{
		font-size:0.8rem;
    	display: inline-block;
    	padding: 0.5% 0.7%;
    	margin: 0.7% 0;
    	color: white;
    	border-radius: 0.05rem;
	}
	.diary_title{
		font-size:1.5rem;
		font-weight:700;
		margin-bottom:15px;
		font-height:1.6;
		margin-top:15px;
	}
	.diary-date{
		margin-bottom:0;
		margin-top:0px;
		
			}
			#wrapper{
				margin-bottom:1.5em;
								.to_wrap{
		margin-top:15px;
		margin-bottom:15px;

	}
			}

	#wrapper>div{
		position:relative;
		overflow:hidden;
		
		
		&::before{
			content:'';
			display:block;
			padding-top:61.5%;
			
		}
	img{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		width:100%;
		margin:auto;
		object-fit:cover;

		

	}
	.diary-thumbnail{
		object-fit:cover;
		margin-bottom:15px;
		margin-top:15px;
	}
	}

	.lower-upper{
		display:flex;
		// align-items:center;
		// justify-content:space-between;
		flex-direction:column;		
		
	}
	.card-text{
		margin:1% 0;
		font-size:1rem;
		// &::after{
		// 	content:url('../img/text_aft_1.svg');
		// 	height:10px;
		// 	width:30px;
			
		// }
		p{
    	line-height: 1.7;
    	letter-spacing:0.1rem;
    	text-align:justify;
    	color:#333;
		}
		p>img{
			margin:1% 0;
			width:100%;
			object-fit:cover;
			
			
		}
	}

}



@media screen and (max-width: 480px) {
			margin-top:70px;
		.article-container{
				#wrapper{
					.diary-thumbnail{
						max-width:350px!important;
					}
				}
				
			}
		} 
			
}
	.bk_g{
		margin-top:11%;
		background-color:#F5F4F4;
		padding:3% 0% 3% 3%;
		
	}
form{
			position:relative;
			background-color:#F5F4F4;
		}

		input{
			width:100%;
			height:40px;
			// background-color:#F5F4F4;
		}
		
		.search_img{
			position:absolute;
			right:0;
			width:20%;
			background-color:#333333;
			padding:3%;
		}















