
.contact_container{
	.contact-title-box{
		margin:50px auto;
		border-bottom:none;
		text-align:center;
		.page_subtitle{
			border-bottom:solid 4px black;
		}
		.title h2{
			font-size:2rem;
			p{
				font-size:1rem;
			}
		}
		
	}
}