$gray:#96A8B2;
$navi:#2F4650;
$color-kurashi:#F4DE00;
$color-umi:#6AC2EF;
$color-yama:#B3C551;
$color-boshu:#CB3A48;


h2,h3,h4,p{
	color:$navi;
}

.flex{
		display:flex;	
		
		}

.daiary_container{
	display:flex;
	align-items:center;
	flex-direction:column;
	.card-wrap-4
	{
		padding:0px 2.5px 0px 0.8px;
	}
	.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

	



	}



