
.footer_container{
	// max-height:300px;
	border-top: solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	padding:20px;
	margin-bottom:5px;
	margin-top:70px;
	
	li,p,a{
		font-size:0.8125rem;
	}

	a{
		display:block;
	}


	p,.font-origin{
		font-weight:600;
		margin-bottom:0.5rem;
		
	}

	.footer_upper{
		 margin: 0 auto 20px auto;
	}

	h1{
		visibility: hidden;
		font-size:2rem;
	}
	.footer_upper{
		display:flex;
		align-items:center;
		justify-content:center;
			.footer_logo{
		background-image:url('../img/tg-np-logo.svg');
		background-repeat:no-repeat;
		background-position:left;
		height:100%;
		margin-left:-1%;
	}
	.sns_box{
		display:flex;
		flex-direction:column;
		align-items:center;
		p{
			margin-bottom:0px;
		}
		>div{
			margin-right:2px;
		}
		.sns_logo{
			display:flex;
			align-items:center;
		}
	 img {
		height:2rem;
		}
		
	
	.twitter_img{ 
		height:2.2rem;
	}


	}
		
	}

	
	.footer_menu{
		display:flex;
		margin:auto;
		div{
			padding:0px;
			:first-child{
				padding-left:0px;
			}
			:last-child{
				padding-right:0px;
			}
		}
		
		.list-box{
			margin-bottom:1rem;
			menu{
				li{
					padding-left:1rem;
				}
			}
			li{
				li{
					padding-left:1rem;
				}
			}
		}

		&:last-child{
			>li>menu>li{
				margin-right:0;
			}
		}
	}
		
		li{
		list-style-type:none;
		margin-bottom:3px;
		menu{
			display:block;
		}
	}
	
	.fb_share{
		display:inline;
	}

	@media(min-width: 414px){
  a[href^="tel:"]{
    pointer-events: none;
  }
}
}

