
header{
	.header_container{
		border-top:10px solid #2F4650;
	}

	.main_sub_title{
		margin-top:1%;
		margin-bottom:0px;
		font-size:0.8rem;
		text-align:center;
	}
	.main_title{
		text-align:center;
		font-family:Times New Roman;
		font-size:50px;
		margin-top: -0.5%;	
		font-weight:700;
		letter-spacing:-0.03em;
		&::after{
		  content: '';
		  display: block;
		  height: 1px;
		  width: 100%;
		  background: #cccccc;
		  margin-top: 10px;
			
		}	

	}
}